[submodule "lib/libtonc"]
	path = lib/libtonc
	url = git@github.com:devkitPro/libtonc.git
[submodule "lib/minunit"]
	path = lib/minunit
	url = git@github.com:jeradesign/MinUnit.git
[submodule "tools/tiled2gba"]
	path = tools/tiled2gba
	url = git@github.com:LucvandenBrand/Tiled2GBA.git
[submodule "tools/midi2gba"]
	path = tools/midi2gba
	url = git@github.com:LucvandenBrand/MIDI2GBA.git
